<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets>
        <target xsi:type="File"
                name="File"
                fileName="StreamDeckSimHub.log"
                encoding="utf-8"
                layout="${longdate} ${pad:padding=-5:${level:uppercase=true}} [${pad:padding=-3:${threadid}}] ${pad:padding=-30:fixedLength=true:alignmentOnTruncation=right:${logger}} ${message} ${exception:format=tostring}"
                archiveAboveSize="1073741824" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="File" />
    </rules>
</nlog>
