<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="File" name="logfile" fileName="installer.log"
                deleteOldFileOnStartup="true"
                layout="${longdate} - ${level:padding=-5} - ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
