<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="File"
                name="logfile"
                layout="${longdate} - ${level:padding=-5} - ${message} ${exception:format=tostring}"
                fileName="StreamDeckSimHub.Installer.log"
                maxArchiveFiles="1"
                archiveAboveSize="10485760" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
